@media screen and (max-width: 576px) {
  .banner-content {
    height: 690px;
  }
  .banner-content h1 {
    font-size: 32px;
    margin: 20px;
    line-height: 40px;
    width: 100%;
  }
  .banner-content p {
    width: 100%;
    font-size: 16px;
  }

  /* Donate Today section styles */
  .donat-container {
    width: 100%;
  }
  .donat-container h1 {
    font-size: 35px;
  }
  .donat-container p {
    font-size: 16px;
    width: 90%;
  }
  .donat-container {
    width: 100%;
  }
  .donat-container p {
    width: 99%;
  }
  .donate-content {
    flex-direction: column;
    justify-content: start;
    margin: 10px;
  }
  .donate-content h1 {
    font-size: 18px;
  }
  .donate-item {
    background-color: rgb(211, 208, 208);
    padding: 30px;
    border-radius: 10px;
  }

  /* <!-- Our Donate Plan section styles --> */

  .donate-plan-container {
    width: 100%;
    margin: 70px auto;
  }
  .donate-plan-container h1 {
    font-size: 35px;
  }
  .donate-plan-container p {
    width: 99%;
  }
  .donate-plan-content {
    flex-direction: column;
  }
}
